export default {
  GITHUB_API_TOKEN: '',
  PROXY_URL: '',
  GITHUB_OWNER: '',
  GITHUB_REPOSITORY: '',
  blacklistUsers: [
    'user1',
    'user2',
  ],
  userMapping: {
    user1: {
      team: 'JJ',
      company: 'C',
      name: 'Frank',
    },
    user2: {
      team: 'WT',
      company: 'D',
      name: 'Bob',
    },
  }
};
